body{
    background-color: #2F4F4F;
}

.content {
    margin: 0 5vw;
}

.content h1 {
    background-color: #778899;
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 20px 20px 0;  
}

.story {
    background-color: #778899;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    height: calc(100vh - 250px);
    padding: 12px;
}

.story > div {
    order: 0;
    align-self: auto;
    flex: 1 1 auto;
    width: 65vw;
}

.story > div:nth-child(2n + 1) {
    flex: 3 1 auto;
    margin: 0 10px;
    width: 30vw;
    z-index: 1;
}

.main{
    width: 900px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #778899;
    padding: 20px;
}

.main .play-window {
    height: 500px;
    width: 826px;
    margin-left: auto;
    margin-right: auto;
}

.main .play-window div{
    overflow-y: scroll;
    height: 500px;
    background-color: white;
}

.main .play-window .left{
    width: 200px;
    border: 1px solid black;
    float: left;
}

.main .play-window .center{
    width: 400px;
    border: 1px solid white;
    float: left;
    margin-left: 10px;
    background-color: black;
    color: #41FF00;
    font-family: 'Courier New', Courier, monospace
}

.main .play-window p{
    margin-left: 10px;
    margin-right:10px;
}

.main .play-window .center .player-text{
    color:skyblue;
}

.main .play-window .right{
    width: 200px;
    border: 1px solid black;
    float: left;
    margin-left:10px;
}

.main .play-window .bottom{
    width: 824px;
    border: 1px solid black;
    clear: left;
    height:100px;
    margin-top: 10px;
}
